@charset "UTF-8";
*{
  box-sizing: border-box;
}

//riset

body,h1,h2,h3,h4,h5,p,ul,li,ol,dl,dt,dd,figure,input,textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline:0;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}


a { 
  color: inherit;
  text-decoration: none;
}

img{
  max-width:100%;
  vertical-align: bottom;
}

//変数
@function rem($px){
  @return ($px/16) *1rem;
}

$headingColor: #4D4D4F;
$textColor: #58595B;


//共通
body {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: rem(14);
  color: $textColor;
  position: relative;
}

//inner
.inner{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 4%;
}

//フォント
.fw--l{
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fw--b{
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fw--m{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

main{
  padding-top: 100px;
}

@media (min-width: 765px){
  main{
    padding-top: 150px;
  }

}

/* Hover Event */
@media (hover: hover){

}

/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header{
  width: 100%;
  position: fixed;
  display: flex;
  height: 100px;
  color: #333132;
  background-color: rgba(255, 255, 255, 0.94);

  &__wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    position: relative;
  }
}

.site-title{
  line-height: 1;
  text-transform: uppercase;
  font-size: rem(24);
  letter-spacing: 0.2em;
}

//スマホ用ヘッダー
.sp-header__right{
  width: 40%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.94);
  text-align: center;
  position: fixed;
  top: 0;
  right: -200%;
  // right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .4s;
  z-index: 2;
  overflow: hidden;

  &.active{
    right: 0;
  }
}

//pc用ヘッダー
.pc-header__right{
  display: none;
}

/* ハンバーガーメニュー */
.burger{
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 3;
}

/* ハンバーガーメニューのバー */
.bar{
  width: 100%;
  height: 3px;
  background-color: #333132;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,0);
  transition: all .5s;
}
    
.bar:nth-of-type(1){
  transform:translate(-50%,10px);
}

.bar:nth-of-type(3){
  transform:translate(-50%,-10px);
}

/* バーガーメニューにactiveクラスが着いた時 */
.burger.active .bar:nth-of-type(2){
  opacity: 0;
}

.burger.active .bar:nth-of-type(1){
  transform: translateX(-50%) rotate(-45deg);
}

.burger.active .bar:nth-of-type(3){
  transform:  translateX(-50%) rotate(45deg);
}

@media (min-width: 765px) {
  .header{
    height: 150px;
  }

  .burger{
    display: none;
  }

  //sp用ヘッダー
  .sp-header__right{
    display: none;
  }

  //pc用ヘッダー
  .pc-header__right{
    display: flex;
    align-items: center;
  }
}

/* -------------------------------------------- */
/* nav */
/* -------------------------------------------- */
.nav{
  font-size: rem(20);
}

//sp用ナビ
.sp-header-nav{
  
  &__item{
    margin-top: 30px;
  }
}

//pc用ナビ
.pc-header-nav{

  &__list{
    display: flex;
  }

  &__item{
    margin-left: 25px;
  }
}

//インスタアイコン
.insta{
  width: 26px;
  height: 26px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

//pc用ヘッダー内のインスタアイコン
.pc-header__insta{
  margin-left: 25px;
  margin-top: 0;
}


/* -------------------------------------------- */
/* gallery */
/* -------------------------------------------- */
.gallery{
  &__wrap{
    margin-top: -50px;
  }
}

//ギャラリーのアイテム
.card-list{
  margin-top: 50px;
  width: 100%;

  &__title{
    font-size: rem(20);
    color: $headingColor;
  }
  
  &__desc{
    font-size: (16);
  } 
  
  &__info{
    font-size: rem(14);
  }

  &--mt{
    margin-top: 10px;
  }
}

@media (min-width: 765px) {
  .gallery{
    &__wrap{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -80px;
    }
  }

  //ギャラリーのアイテム
  .card-list{
    margin-top: 80px;
    width: calc((100% - 120px) /3);
  }

}

/* -------------------------------------------- */
/* philosophy */
/* -------------------------------------------- */
.philosophy{
  margin-top: 60px;

  &__wrap{

  }

  &__heading{
    font-size: rem(27);
    color: $headingColor;
  }

  &__desc{
    font-size: rem(17);
    letter-spacing: 0.006em;
    line-height: 2;
    margin-top: 16px;
  }
}

@media (min-width: 765px) {


}

/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer{
  background-color: #160E0E;
  color: #ffffff;
  margin-top: 60px;

  &__wrap{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  //見出し
  &__heading{
    color: $headingColor;
    letter-spacing: 0.15em;
  }
}

//----- 連絡とSNS -----
.getInTouch{
  &__list{
    margin-top: 20px;
  }
  
  &__text{
    font-size: rem(16);
    letter-spacing: 0.03em;
  }

  &__sns{
    margin-top: 12px;
  }

  //アイコン
  &__icon{
    width: 18px;
    margin-right: 12px;
  }
}

//----- お問い合わせ------
.contact{
  margin-top: 40px;
}

//フォーム部品
.formParts{
  input[type="text"],
  input[type="email"],
  textarea{
    background: inherit;
    border: 1px solid #ffffff;
    width: 100%;
    padding: 10px;
    font-family: inherit;
    font-size: rem(16);
    color: #ffffff;
    margin-top: 20px;
    letter-spacing: 0.03em;

    //プレイスホルダーの文字色
    &::placeholder {
      color: #ffffff;
    }
  }

  textarea{
    height: 90px;
  }

  //送信ボタン
  input[type="submit"]{
    padding: 8px;
    width: 100px;
    background-color: $textColor;
    color: #ffffff;
    display: block;
    margin-left: auto;
    margin-top: 20px;
    letter-spacing: 0.03em;
  }

}

@media (min-width: 765px) {
  .footer{
    &__wrap{
      display: flex;
    }
  }

  //----- お問い合わせ------
  .contact{
    margin-top: 0;
    margin-left: 90px;
    flex:1;

    &__wrap{
      display: flex;
      margin-top: 20px;
    }
  
    //左のカラム
    &__left{
      width: calc((100% - 40px)/2);
    }
  
    //真ん中のカラム
    &__center{
      width: calc((100% - 40px)/2);
      margin-left: 20px;

      //フォーム部品
      .formParts{
        height: 100%;
      }

      textarea{
        height: 100%;
      }
    }
    
    //右のカラム
    &__right{
      margin-left: 20px;
      margin-top: auto;
    }
  }

  //フォーム部品
  .formParts{
    input[type="text"],
    textarea,
    input[type="submit"]{
      margin-top: 0px;
    }
  }
}

/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */


@media (min-width: 765px) {


}