@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, p, ul, li, ol, dl, dt, dd, figure, input, textarea {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  list-style: none;
  outline: 0;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

body {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.875rem;
  color: #58595B;
  position: relative;
}

.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 4%;
}

.fw--l {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fw--b {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fw--m {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

main {
  padding-top: 100px;
}

@media (min-width: 765px) {
  main {
    padding-top: 150px;
  }
}
/* Hover Event */
/* -------------------------------------------- */
/* header */
/* -------------------------------------------- */
.header {
  width: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  color: #333132;
  background-color: rgba(255, 255, 255, 0.94);
}
.header__wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  position: relative;
}

.site-title {
  line-height: 1;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
}

.sp-header__right {
  width: 40%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.94);
  text-align: center;
  position: fixed;
  top: 0;
  right: -200%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 2;
  overflow: hidden;
}
.sp-header__right.active {
  right: 0;
}

.pc-header__right {
  display: none;
}

/* ハンバーガーメニュー */
.burger {
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 3;
}

/* ハンバーガーメニューのバー */
.bar {
  width: 100%;
  height: 3px;
  background-color: #333132;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.bar:nth-of-type(1) {
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
}

.bar:nth-of-type(3) {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
}

/* バーガーメニューにactiveクラスが着いた時 */
.burger.active .bar:nth-of-type(2) {
  opacity: 0;
}

.burger.active .bar:nth-of-type(1) {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.burger.active .bar:nth-of-type(3) {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

@media (min-width: 765px) {
  .header {
    height: 150px;
  }
  .burger {
    display: none;
  }
  .sp-header__right {
    display: none;
  }
  .pc-header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/* -------------------------------------------- */
/* nav */
/* -------------------------------------------- */
.nav {
  font-size: 1.25rem;
}

.sp-header-nav__item {
  margin-top: 30px;
}

.pc-header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pc-header-nav__item {
  margin-left: 25px;
}

.insta {
  width: 26px;
  height: 26px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.pc-header__insta {
  margin-left: 25px;
  margin-top: 0;
}

/* -------------------------------------------- */
/* paintings */
/* -------------------------------------------- */
.paintings__wrap {
  margin-top: -50px;
}

.card-list {
  margin-top: 50px;
  width: 100%;
}
.card-list__title {
  font-size: 1.25rem;
  color: #4D4D4F;
}
.card-list__desc {
  font-size: 16;
}
.card-list__info {
  font-size: 0.875rem;
}
.card-list--mt {
  margin-top: 10px;
}

@media (min-width: 765px) {
  .paintings__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -80px;
  }
  .paintings__wrap::after {
    content: "";
    width: calc((100% - 120px) / 3);
  }
  .card-list {
    margin-top: 80px;
    width: calc((100% - 120px) / 3);
  }
}
/* -------------------------------------------- */
/* statement */
/* -------------------------------------------- */
.statement {
  margin-top: 60px;
}
.statement__heading {
  font-size: 1.6875rem;
  color: #4D4D4F;
}
.statement__desc {
  font-size: 1.0625rem;
  letter-spacing: 0.006em;
  line-height: 2;
  margin-top: 16px;
}

@media (min-width: 765px) {
  .statement {
    margin-top: 100px;
  }
}
/* -------------------------------------------- */
/* footer */
/* -------------------------------------------- */
.footer {
  background-color: #160E0E;
  color: #ffffff;
  margin-top: 60px;
}
.footer__wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__heading {
  color: #4D4D4F;
  letter-spacing: 0.15em;
}

.getInTouch__list {
  margin-top: 20px;
}
.getInTouch__text {
  font-size: 1rem;
  letter-spacing: 0.03em;
}
.getInTouch__sns {
  margin-top: 12px;
}
.getInTouch__icon {
  width: 18px;
  margin-right: 12px;
}

.contact {
  margin-top: 40px;
}

.formParts input[type=text],
.formParts input[type=email],
.formParts textarea {
  background: inherit;
  border: 1px solid #ffffff;
  width: 100%;
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;
  color: #ffffff;
  margin-top: 20px;
  letter-spacing: 0.03em;
}
.formParts input[type=text]::-webkit-input-placeholder, .formParts input[type=email]::-webkit-input-placeholder, .formParts textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.formParts input[type=text]::-moz-placeholder, .formParts input[type=email]::-moz-placeholder, .formParts textarea::-moz-placeholder {
  color: #ffffff;
}
.formParts input[type=text]:-ms-input-placeholder, .formParts input[type=email]:-ms-input-placeholder, .formParts textarea:-ms-input-placeholder {
  color: #ffffff;
}
.formParts input[type=text]::-ms-input-placeholder, .formParts input[type=email]::-ms-input-placeholder, .formParts textarea::-ms-input-placeholder {
  color: #ffffff;
}
.formParts input[type=text]::placeholder,
.formParts input[type=email]::placeholder,
.formParts textarea::placeholder {
  color: #ffffff;
}
.formParts textarea {
  height: 90px;
}
.formParts input[type=submit] {
  padding: 8px;
  width: 100px;
  background-color: #58595B;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-top: 20px;
  letter-spacing: 0.03em;
}

.top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  display: none;
}

@media (min-width: 765px) {
  .footer {
    margin-top: 100px;
  }
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact {
    margin-top: 0;
    margin-left: 90px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .contact__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .contact__left {
    width: calc((100% - 40px) / 2);
  }
  .contact__center {
    width: calc((100% - 40px) / 2);
    margin-left: 20px;
  }
  .contact__center .formParts {
    height: 100%;
  }
  .contact__center textarea {
    height: 100%;
  }
  .contact__right {
    margin-left: 20px;
    margin-top: auto;
  }
  .formParts input[type=text],
.formParts textarea,
.formParts input[type=submit] {
    margin-top: 0px;
  }
}
/* -------------------------------------------- */
/*  */
/* -------------------------------------------- */